*{
    padding: 0px;
    margin: 0px;
}

body{
    display: relative;
    background-color: #b5f4bc;
}

#container {
    display: flex;
    align-items: center;
}

.tela-login{
    width: 250px;
    text-align: center;
    background-color: #ffba6b;
    border-radius: 15px;
    padding: 20px;
    margin: 5%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    display: absolute;
}

.click{
    text-decoration: underline;
}

.click:hover {
    cursor: pointer;
}

.subtitle{
    margin-bottom: 5px;
    text-align  : center;
}

#box-login{
    display: none;
}

input{
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 12px;
}

.input-submit {
    background-color: #ffdc8a;
}

.input-submit:hover {
    background-color: #fff19e;
}

input:hover {
    background-color: #ffdc8a;
}

#box-cadastro {
    
}

#box-login {
    
}
